
.all {
  background-color: black;
  color: whitesmoke;
  min-height: 100vh; 
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.test{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.tittle{
  display: flex;
  justify-content: center;
  font-size: medium;
}
